In [1]:
import numpy as np
import pandas as pd
rng = pd.date_range('20170719',periods = 100)

In [2]:
rng

DatetimeIndex(['2017-07-19', '2017-07-20', '2017-07-21', '2017-07-22',
               '2017-07-23', '2017-07-24', '2017-07-25', '2017-07-26',
               '2017-07-27', '2017-07-28', '2017-07-29', '2017-07-30',
               '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03',
               '2017-08-04', '2017-08-05', '2017-08-06', '2017-08-07',
               '2017-08-08', '2017-08-09', '2017-08-10', '2017-08-11',
               '2017-08-12', '2017-08-13', '2017-08-14', '2017-08-15',
               '2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17', '2017-09-18', '2017-09-19', '2017-09-20',
               '2017-09-21', '2017-09-22', '2017-09-23', '2017-09-24',
               '2017-09-25', '2017-09-26', '2017-09-27', '2017-09-28',
               '2017-09-29', '2017-09-30', '2017-10-01', '2017-10-02',
               '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06',
               '2017-10-07', '2017-10-08', '2017-10-09', '2017-10-10',
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-14',
               '2017-10-15', '2017-10-16', '2017-10-17', '2017-10-18',
               '2017-10-19', '2017-10-20', '2017-10-21', '2017-10-22',
               '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26'],
              dtype='datetime64[ns]', freq='D')

In [3]:
rnge = pd.date_range('20170719',periods =100,freq = 'H')

In [4]:
rnge

DatetimeIndex(['2017-07-19 00:00:00', '2017-07-19 01:00:00',
               '2017-07-19 02:00:00', '2017-07-19 03:00:00',
               '2017-07-19 04:00:00', '2017-07-19 05:00:00',
               '2017-07-19 06:00:00', '2017-07-19 07:00:00',
               '2017-07-19 08:00:00', '2017-07-19 09:00:00',
               '2017-07-19 10:00:00', '2017-07-19 11:00:00',
               '2017-07-19 12:00:00', '2017-07-19 13:00:00',
               '2017-07-19 14:00:00', '2017-07-19 15:00:00',
               '2017-07-19 16:00:00', '2017-07-19 17:00:00',
               '2017-07-19 18:00:00', '2017-07-19 19:00:00',
               '2017-07-19 20:00:00', '2017-07-19 21:00:00',
               '2017-07-19 22:00:00', '2017-07-19 23:00:00',
               '2017-07-20 00:00:00', '2017-07-20 01:00:00',
               '2017-07-20 02:00:00', '2017-07-20 03:00:00',
               '2017-07-20 04:00:00', '2017-07-20 05:00:00',
               '2017-07-20 06:00:00', '2017-07-20 07:00:00',
               '2017-07-20 08:00:00', '2017-07-20 09:00:00',
               '2017-07-20 10:00:00', '2017-07-20 11:00:00',
               '2017-07-20 12:00:00', '2017-07-20 13:00:00',
               '2017-07-20 14:00:00', '2017-07-20 15:00:00',
               '2017-07-20 16:00:00', '2017-07-20 17:00:00',
               '2017-07-20 18:00:00', '2017-07-20 19:00:00',
               '2017-07-20 20:00:00', '2017-07-20 21:00:00',
               '2017-07-20 22:00:00', '2017-07-20 23:00:00',
               '2017-07-21 00:00:00', '2017-07-21 01:00:00',
               '2017-07-21 02:00:00', '2017-07-21 03:00:00',
               '2017-07-21 04:00:00', '2017-07-21 05:00:00',
               '2017-07-21 06:00:00', '2017-07-21 07:00:00',
               '2017-07-21 08:00:00', '2017-07-21 09:00:00',
               '2017-07-21 10:00:00', '2017-07-21 11:00:00',
               '2017-07-21 12:00:00', '2017-07-21 13:00:00',
               '2017-07-21 14:00:00', '2017-07-21 15:00:00',
               '2017-07-21 16:00:00', '2017-07-21 17:00:00',
               '2017-07-21 18:00:00', '2017-07-21 19:00:00',
               '2017-07-21 20:00:00', '2017-07-21 21:00:00',
               '2017-07-21 22:00:00', '2017-07-21 23:00:00',
               '2017-07-22 00:00:00', '2017-07-22 01:00:00',
               '2017-07-22 02:00:00', '2017-07-22 03:00:00',
               '2017-07-22 04:00:00', '2017-07-22 05:00:00',
               '2017-07-22 06:00:00', '2017-07-22 07:00:00',
               '2017-07-22 08:00:00', '2017-07-22 09:00:00',
               '2017-07-22 10:00:00', '2017-07-22 11:00:00',
               '2017-07-22 12:00:00', '2017-07-22 13:00:00',
               '2017-07-22 14:00:00', '2017-07-22 15:00:00',
               '2017-07-22 16:00:00', '2017-07-22 17:00:00',
               '2017-07-22 18:00:00', '2017-07-22 19:00:00',
               '2017-07-22 20:00:00', '2017-07-22 21:00:00',
               '2017-07-22 22:00:00', '2017-07-22 23:00:00',
               '2017-07-23 00:00:00', '2017-07-23 01:00:00',
               '2017-07-23 02:00:00', '2017-07-23 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [5]:
someseries = pd.Series(np.random.randn(len(rnge)),index = rnge)

In [6]:
someseries

2017-07-19 00:00:00   -1.114510
2017-07-19 01:00:00   -1.796370
2017-07-19 02:00:00   -1.001642
2017-07-19 03:00:00   -1.407749
2017-07-19 04:00:00    0.680906
2017-07-19 05:00:00   -3.242085
2017-07-19 06:00:00    0.265997
2017-07-19 07:00:00    0.827069
2017-07-19 08:00:00    0.853368
2017-07-19 09:00:00    1.181746
2017-07-19 10:00:00    0.049721
2017-07-19 11:00:00    0.388867
2017-07-19 12:00:00   -0.986470
2017-07-19 13:00:00   -1.187786
2017-07-19 14:00:00    0.875767
2017-07-19 15:00:00    1.428073
2017-07-19 16:00:00    1.020171
2017-07-19 17:00:00    0.428444
2017-07-19 18:00:00    0.964491
2017-07-19 19:00:00   -0.306295
2017-07-19 20:00:00    0.437547
2017-07-19 21:00:00   -0.985414
2017-07-19 22:00:00   -1.077218
2017-07-19 23:00:00    0.434582
2017-07-20 00:00:00    0.627256
2017-07-20 01:00:00    0.667488
2017-07-20 02:00:00    1.299742
2017-07-20 03:00:00   -1.077265
2017-07-20 04:00:00    0.790816
2017-07-20 05:00:00    0.912287
                         ...
2017-07-21 22:00:00   -0.369741
2017-07-21 23:00:00    0.668354
2017-07-22 00:00:00   -1.035227
2017-07-22 01:00:00    0.596251
2017-07-22 02:00:00    0.499553
2017-07-22 03:00:00   -0.102090
2017-07-22 04:00:00   -0.663858
2017-07-22 05:00:00   -0.086734
2017-07-22 06:00:00   -0.049612
2017-07-22 07:00:00   -0.253332
2017-07-22 08:00:00   -1.047415
2017-07-22 09:00:00    0.138119
2017-07-22 10:00:00   -1.896883
2017-07-22 11:00:00    0.577714
2017-07-22 12:00:00   -1.011113
2017-07-22 13:00:00   -0.126644
2017-07-22 14:00:00   -0.715128
2017-07-22 15:00:00   -0.228798
2017-07-22 16:00:00   -0.812728
2017-07-22 17:00:00    1.022592
2017-07-22 18:00:00    0.070363
2017-07-22 19:00:00    1.192449
2017-07-22 20:00:00    1.245696
2017-07-22 21:00:00    1.261194
2017-07-22 22:00:00    1.666859
2017-07-22 23:00:00   -1.178026
2017-07-23 00:00:00   -1.383798
2017-07-23 01:00:00    0.439606
2017-07-23 02:00:00   -0.028719
2017-07-23 03:00:00   -0.809778
Freq: H, Length: 100, dtype: float64

In [7]:
someseries.head()

2017-07-19 00:00:00   -1.114510
2017-07-19 01:00:00   -1.796370
2017-07-19 02:00:00   -1.001642
2017-07-19 03:00:00   -1.407749
2017-07-19 04:00:00    0.680906
Freq: H, dtype: float64

In [8]:
converted = someseries.asfreq('45MIN',method = 'pad')

In [9]:
converted

2017-07-19 00:00:00   -1.114510
2017-07-19 00:45:00   -1.114510
2017-07-19 01:30:00   -1.796370
2017-07-19 02:15:00   -1.001642
2017-07-19 03:00:00   -1.407749
2017-07-19 03:45:00   -1.407749
2017-07-19 04:30:00    0.680906
2017-07-19 05:15:00   -3.242085
2017-07-19 06:00:00    0.265997
2017-07-19 06:45:00    0.265997
2017-07-19 07:30:00    0.827069
2017-07-19 08:15:00    0.853368
2017-07-19 09:00:00    1.181746
2017-07-19 09:45:00    1.181746
2017-07-19 10:30:00    0.049721
2017-07-19 11:15:00    0.388867
2017-07-19 12:00:00   -0.986470
2017-07-19 12:45:00   -0.986470
2017-07-19 13:30:00   -1.187786
2017-07-19 14:15:00    0.875767
2017-07-19 15:00:00    1.428073
2017-07-19 15:45:00    1.428073
2017-07-19 16:30:00    1.020171
2017-07-19 17:15:00    0.428444
2017-07-19 18:00:00    0.964491
2017-07-19 18:45:00    0.964491
2017-07-19 19:30:00   -0.306295
2017-07-19 20:15:00    0.437547
2017-07-19 21:00:00   -0.985414
2017-07-19 21:45:00   -0.985414
                         ...
2017-07-22 05:15:00   -0.086734
2017-07-22 06:00:00   -0.049612
2017-07-22 06:45:00   -0.049612
2017-07-22 07:30:00   -0.253332
2017-07-22 08:15:00   -1.047415
2017-07-22 09:00:00    0.138119
2017-07-22 09:45:00    0.138119
2017-07-22 10:30:00   -1.896883
2017-07-22 11:15:00    0.577714
2017-07-22 12:00:00   -1.011113
2017-07-22 12:45:00   -1.011113
2017-07-22 13:30:00   -0.126644
2017-07-22 14:15:00   -0.715128
2017-07-22 15:00:00   -0.228798
2017-07-22 15:45:00   -0.228798
2017-07-22 16:30:00   -0.812728
2017-07-22 17:15:00    1.022592
2017-07-22 18:00:00    0.070363
2017-07-22 18:45:00    0.070363
2017-07-22 19:30:00    1.192449
2017-07-22 20:15:00    1.245696
2017-07-22 21:00:00    1.261194
2017-07-22 21:45:00    1.261194
2017-07-22 22:30:00    1.666859
2017-07-22 23:15:00   -1.178026
2017-07-23 00:00:00   -1.383798
2017-07-23 00:45:00   -1.383798
2017-07-23 01:30:00    0.439606
2017-07-23 02:15:00   -0.028719
2017-07-23 03:00:00   -0.809778
Freq: 45T, Length: 133, dtype: float64

In [10]:
someseries.resample('D',how = 'mean')

C:\Users\user\anaconda_new\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2017-07-19   -0.136200
2017-07-20    0.228630
2017-07-21    0.030146
2017-07-22   -0.039033
2017-07-23   -0.445672
Freq: D, dtype: float64

In [11]:
type(someseries.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:
#to datetime converts any form of date into standard hyphenated formb
pd.to_datetime(pd.Series(['Jul 31, 2017', '2017-01-10', None]))

0   2017-07-31
1   2017-01-10
2          NaT
dtype: datetime64[ns]

In [13]:
#dayfirst = true is not valid always
pd.to_datetime('2017-07-19',dayfirst = True)

Timestamp('2017-07-19 00:00:00')

In [14]:
#to make an invalid data valid(in form of NaT) pass coerce = true
pd.to_datetime(['2017-07-19','asd'],errors = 'coerce')

DatetimeIndex(['2017-07-19', 'NaT'], dtype='datetime64[ns]', freq=None)

In [15]:
#The above pd.date time coerce is eliminated and it is make as it is looking in the present form

In [16]:
pd.to_datetime(['2017-07-19','asd'],errors = 'coerce')

DatetimeIndex(['2017-07-19', 'NaT'], dtype='datetime64[ns]', freq=None)

In [17]:
#data taken from pandas documentation directly
#here it converts the seconds data to years
pd.to_datetime([1499920105, 1490106505, 1490292905,1490279305, 1490365705], unit='s')

DatetimeIndex(['2017-07-13 04:28:25', '2017-03-21 14:28:25',
               '2017-03-23 18:15:05', '2017-03-23 14:28:25',
               '2017-03-24 14:28:25'],
              dtype='datetime64[ns]', freq=None)

In [18]:
#datetime will not take frquency it only takes unit
pd.to_datetime([1,22/7],unit='s')

DatetimeIndex(['1970-01-01 00:00:01', '1970-01-01 00:00:03.142857'], dtype='datetime64[ns]', freq=None)

In [19]:
#there will be two types of index constructors i.e, date_range commands they are date_range and bdate_range
anil = pd.date_range('20170719',periods= 14)

In [20]:
anil

DatetimeIndex(['2017-07-19', '2017-07-20', '2017-07-21', '2017-07-22',
               '2017-07-23', '2017-07-24', '2017-07-25', '2017-07-26',
               '2017-07-27', '2017-07-28', '2017-07-29', '2017-07-30',
               '2017-07-31', '2017-08-01'],
              dtype='datetime64[ns]', freq='D')

In [21]:
anildharni = pd.bdate_range('20170719',periods= 14)

In [22]:
anildharni

DatetimeIndex(['2017-07-19', '2017-07-20', '2017-07-21', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-28',
               '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03',
               '2017-08-04', '2017-08-07'],
              dtype='datetime64[ns]', freq='B')

In [23]:
#please note that the primary differnce between above commands is that bdate_range doesn't gave us weekends
#bdate_range = business date range
#business dates prefixes to use in freq would be generally like 'BM','BY' etc

In [24]:
#Another point to note is that start and end dates in the date_ranges are strictly inclusive

In [25]:
#datetimeindex offers regularisation functions like snap and asof
#It offers shifting functioanlities like shift and tshift

In [26]:
exp = pd.date_range('2017-07-20 9:00',periods = 600,freq = 'T')

In [27]:
expdf = pd.DataFrame(np.random.randn(600,1),index = exp,columns = ['A'])

In [28]:
expdf

                            A
2017-07-20 09:00:00  1.130364
2017-07-20 09:01:00 -0.466603
2017-07-20 09:02:00 -0.131573
2017-07-20 09:03:00  0.425570
2017-07-20 09:04:00  0.191795
2017-07-20 09:05:00 -1.303631
2017-07-20 09:06:00 -1.043319
2017-07-20 09:07:00 -0.666706
2017-07-20 09:08:00 -0.067733
2017-07-20 09:09:00  0.155264
2017-07-20 09:10:00  0.098026
2017-07-20 09:11:00  0.722126
2017-07-20 09:12:00 -0.102890
2017-07-20 09:13:00  0.431459
2017-07-20 09:14:00  1.020434
2017-07-20 09:15:00  0.920603
2017-07-20 09:16:00  0.526908
2017-07-20 09:17:00  0.724238
2017-07-20 09:18:00  0.168393
2017-07-20 09:19:00  1.298346
2017-07-20 09:20:00  0.566517
2017-07-20 09:21:00  0.675973
2017-07-20 09:22:00 -0.323350
2017-07-20 09:23:00 -2.134605
2017-07-20 09:24:00 -1.763916
2017-07-20 09:25:00 -1.313839
2017-07-20 09:26:00  0.106028
2017-07-20 09:27:00  1.028083
2017-07-20 09:28:00  0.259954
2017-07-20 09:29:00 -0.287371
...                       ...
2017-07-20 18:30:00 -0.370887
2017-07-20 18:31:00 -0.068674
2017-07-20 18:32:00 -0.322348
2017-07-20 18:33:00  1.316333
2017-07-20 18:34:00  0.750887
2017-07-20 18:35:00 -0.920432
2017-07-20 18:36:00 -0.287476
2017-07-20 18:37:00  1.104004
2017-07-20 18:38:00 -1.414152
2017-07-20 18:39:00  0.600307
2017-07-20 18:40:00 -1.522485
2017-07-20 18:41:00 -0.957318
2017-07-20 18:42:00  0.644274
2017-07-20 18:43:00  1.484467
2017-07-20 18:44:00  1.766201
2017-07-20 18:45:00  0.505229
2017-07-20 18:46:00 -0.485334
2017-07-20 18:47:00 -0.718873
2017-07-20 18:48:00 -1.020842
2017-07-20 18:49:00 -0.188423
2017-07-20 18:50:00  1.343570
2017-07-20 18:51:00  0.387053
2017-07-20 18:52:00 -1.454357
2017-07-20 18:53:00 -0.030335
2017-07-20 18:54:00  1.513187
2017-07-20 18:55:00  0.580393
2017-07-20 18:56:00 -0.122256
2017-07-20 18:57:00  0.752166
2017-07-20 18:58:00 -2.269829
2017-07-20 18:59:00  0.057567

[600 rows x 1 columns]

In [29]:
expdf['20170720 10H']

                            A
2017-07-20 10:00:00  0.507236
2017-07-20 10:01:00 -0.254549
2017-07-20 10:02:00  0.205910
2017-07-20 10:03:00 -0.314241
2017-07-20 10:04:00 -1.722225
2017-07-20 10:05:00 -1.048051
2017-07-20 10:06:00 -0.359129
2017-07-20 10:07:00 -0.023765
2017-07-20 10:08:00  0.120655
2017-07-20 10:09:00 -1.626402
2017-07-20 10:10:00  0.538885
2017-07-20 10:11:00 -0.420399
2017-07-20 10:12:00  0.273902
2017-07-20 10:13:00  0.182917
2017-07-20 10:14:00 -0.152348
2017-07-20 10:15:00  0.766428
2017-07-20 10:16:00  2.256338
2017-07-20 10:17:00 -2.627550
2017-07-20 10:18:00 -0.074298
2017-07-20 10:19:00 -0.252435
2017-07-20 10:20:00  0.214896
2017-07-20 10:21:00 -1.153417
2017-07-20 10:22:00 -0.966142
2017-07-20 10:23:00  0.829133
2017-07-20 10:24:00  1.650595
2017-07-20 10:25:00  0.068688
2017-07-20 10:26:00  0.305072
2017-07-20 10:27:00 -0.398308
2017-07-20 10:28:00  0.403556
2017-07-20 10:29:00 -0.588760
2017-07-20 10:30:00  0.233555
2017-07-20 10:31:00  0.247048
2017-07-20 10:32:00  2.184315
2017-07-20 10:33:00  0.520860
2017-07-20 10:34:00 -0.433370
2017-07-20 10:35:00 -0.742667
2017-07-20 10:36:00 -0.240867
2017-07-20 10:37:00  0.986975
2017-07-20 10:38:00 -0.622888
2017-07-20 10:39:00  2.157107
2017-07-20 10:40:00  0.068875
2017-07-20 10:41:00  1.556456
2017-07-20 10:42:00  0.972331
2017-07-20 10:43:00 -0.889152
2017-07-20 10:44:00 -1.515317
2017-07-20 10:45:00  1.405450
2017-07-20 10:46:00 -0.240130
2017-07-20 10:47:00 -0.174471
2017-07-20 10:48:00  0.561310
2017-07-20 10:49:00  3.184993
2017-07-20 10:50:00  1.219884
2017-07-20 10:51:00 -0.618763
2017-07-20 10:52:00 -0.828050
2017-07-20 10:53:00  1.742779
2017-07-20 10:54:00  1.089564
2017-07-20 10:55:00 -0.994317
2017-07-20 10:56:00  2.289213
2017-07-20 10:57:00 -1.693295
2017-07-20 10:58:00  0.139515
2017-07-20 10:59:00  1.252074

In [30]:
p = pd.Period('2017','A-NOV')

In [31]:
p.asfreq('M',how = 'start')

Period('2016-12', 'M')

In [32]:
p.asfreq('M',how = 'end')

Period('2017-11', 'M')

In [33]:
#To_toperiod converts the given time into periods
#to_timestamp converts the given time into a timestamp i.e,in the form of implemetation of pandas

In [34]:
#converting a quarterly frequency to month ending with 9.00
a = pd.date_range('1995Q1','2000Q4',freq = 'Q-NOV')

In [35]:
aser = pd.Series(np.random.randn(len(a)),a)

In [36]:
aser

1995-02-28   -0.256838
1995-05-31   -1.658305
1995-08-31    0.505885
1995-11-30   -1.108279
1996-02-29    0.139883
1996-05-31   -0.218695
1996-08-31   -0.700802
1996-11-30   -0.150189
1997-02-28   -0.334786
1997-05-31    0.981895
1997-08-31   -0.584299
1997-11-30   -0.474616
1998-02-28    0.373364
1998-05-31    1.024415
1998-08-31   -0.202812
1998-11-30   -0.194379
1999-02-28    0.998470
1999-05-31    0.369613
1999-08-31   -2.072222
1999-11-30   -0.240208
2000-02-29   -0.241925
2000-05-31   -1.925178
2000-08-31   -0.403698
Freq: Q-NOV, dtype: float64

In [37]:
a

DatetimeIndex(['1995-02-28', '1995-05-31', '1995-08-31', '1995-11-30',
               '1996-02-29', '1996-05-31', '1996-08-31', '1996-11-30',
               '1997-02-28', '1997-05-31', '1997-08-31', '1997-11-30',
               '1998-02-28', '1998-05-31', '1998-08-31', '1998-11-30',
               '1999-02-28', '1999-05-31', '1999-08-31', '1999-11-30',
               '2000-02-29', '2000-05-31', '2000-08-31'],
              dtype='datetime64[ns]', freq='Q-NOV')

In [38]:
#Indexing is just like for any other thing but if you were to give a date it should be datetime format or atleast enclosed in 
#datetime argument
a[:5]

DatetimeIndex(['1995-02-28', '1995-05-31', '1995-08-31', '1995-11-30',
               '1996-02-29'],
              dtype='datetime64[ns]', freq='Q-NOV')

In [40]:
a[::-2]

DatetimeIndex(['2000-08-31', '2000-02-29', '1999-08-31', '1999-02-28',
               '1998-08-31', '1998-02-28', '1997-08-31', '1997-02-28',
               '1996-08-31', '1996-02-29', '1995-08-31', '1995-02-28'],
              dtype='datetime64[ns]', freq='-2Q-NOV')

In [46]:
aser[:2].index

DatetimeIndex(['1995-02-28', '1995-05-31'], dtype='datetime64[ns]', freq='Q-NOV')

In [57]:
#this type od datetime cutiing method is applied only to series and dataframes but not a normal time list like 'a'
aser[pd.datetime(2017,8,31):]

Series([], Freq: Q-NOV, dtype: float64)

In [56]:
aser['1995-02-28':'2000-08-31']

1995-02-28   -0.256838
1995-05-31   -1.658305
1995-08-31    0.505885
1995-11-30   -1.108279
1996-02-29    0.139883
1996-05-31   -0.218695
1996-08-31   -0.700802
1996-11-30   -0.150189
1997-02-28   -0.334786
1997-05-31    0.981895
1997-08-31   -0.584299
1997-11-30   -0.474616
1998-02-28    0.373364
1998-05-31    1.024415
1998-08-31   -0.202812
1998-11-30   -0.194379
1999-02-28    0.998470
1999-05-31    0.369613
1999-08-31   -2.072222
1999-11-30   -0.240208
2000-02-29   -0.241925
2000-05-31   -1.925178
2000-08-31   -0.403698
Freq: Q-NOV, dtype: float64

In [59]:
#same type of indexing can also be done on dataframes 
#but to extract a single a row in a data frame we are not supposed to use normalindex loc function works better.

In [60]:
#truncating and fancy indexing

In [61]:
aser

1995-02-28   -0.256838
1995-05-31   -1.658305
1995-08-31    0.505885
1995-11-30   -1.108279
1996-02-29    0.139883
1996-05-31   -0.218695
1996-08-31   -0.700802
1996-11-30   -0.150189
1997-02-28   -0.334786
1997-05-31    0.981895
1997-08-31   -0.584299
1997-11-30   -0.474616
1998-02-28    0.373364
1998-05-31    1.024415
1998-08-31   -0.202812
1998-11-30   -0.194379
1999-02-28    0.998470
1999-05-31    0.369613
1999-08-31   -2.072222
1999-11-30   -0.240208
2000-02-29   -0.241925
2000-05-31   -1.925178
2000-08-31   -0.403698
Freq: Q-NOV, dtype: float64

In [63]:
#Truncate is just like slicing 
aser.truncate('1998','2000')

1998-02-28    0.373364
1998-05-31    1.024415
1998-08-31   -0.202812
1998-11-30   -0.194379
1999-02-28    0.998470
1999-05-31    0.369613
1999-08-31   -2.072222
1999-11-30   -0.240208
Freq: Q-NOV, dtype: float64

In [66]:
aser[[0,8,2]].index

DatetimeIndex(['1995-02-28', '1997-02-28', '1995-08-31'], dtype='datetime64[ns]', freq=None)

In [67]:
#the above method is how you call a particular element by index.the only problem with this is frequency structure is lost

In [72]:
pd.datetime.time

In [73]:
#Then you have a dateoffset class which is a base for frequency this is what performs all the under the hood functions of 
#frequency function

In [75]:
# A point to note is that dateoffset and relative delta functions both work similarly
date = pd.datetime(2017,7,19,8,0)

In [90]:
date+ dateutil.relativedelta(year=2,month = 2)
#it is not working

AttributeError: type object 'datetime.datetime' has no attribute 'dateutil'

In [98]:
from pandas.tseries.offsets import *
date + DateOffset(months = 4, days = 3)

Timestamp('2017-11-22 08:00:00')

In [99]:
#rollforward and rollbackward operations
offset = BMonthEnd()
offset.rollforward(date)

Timestamp('2017-07-31 08:00:00')

In [101]:
offset.rollback(date)

Timestamp('2017-06-30 08:00:00')

In [102]:
# normalize = True gives you a setting where the hours in the timestamp get adjusted to the 00:00:00

In [103]:
date

datetime.datetime(2017, 7, 19, 8, 0)

In [105]:
date+Week()

Timestamp('2017-07-26 08:00:00')

In [107]:
date + MonthEnd()

Timestamp('2017-07-31 08:00:00')

In [108]:
date + YearEnd(normalize = True)

Timestamp('2017-12-31 00:00:00')

In [109]:
date + YearEnd(month= 6)

Timestamp('2018-06-30 08:00:00')

In [111]:
#building custombusinessdays
from pandas.tseries.holiday import USFederalHolidayCalendar
bday = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [122]:
dt = pd.datetime(2017,7,15)

In [123]:
dt + bday

Timestamp('2017-07-17 00:00:00')

In [124]:
# Take note of anchored offsets and Offset Aliases

In [136]:
aniltime = pd.DatetimeIndex(start = '20170720',end = '20170730',freq = 'D').to_pydatetime()

In [137]:
#to_pydatetime is just giving a numpy array
aniltime

array([datetime.datetime(2017, 7, 20, 0, 0),
       datetime.datetime(2017, 7, 21, 0, 0),
       datetime.datetime(2017, 7, 22, 0, 0),
       datetime.datetime(2017, 7, 23, 0, 0),
       datetime.datetime(2017, 7, 24, 0, 0),
       datetime.datetime(2017, 7, 25, 0, 0),
       datetime.datetime(2017, 7, 26, 0, 0),
       datetime.datetime(2017, 7, 27, 0, 0),
       datetime.datetime(2017, 7, 28, 0, 0),
       datetime.datetime(2017, 7, 29, 0, 0),
       datetime.datetime(2017, 7, 30, 0, 0)], dtype=object)

In [138]:
# One may want to shift or lag the values of dates for this we will shift 
# Remember that shift shifts the values only along the index in a dataframe and only along a major axis in a panel

In [139]:
aser

1995-02-28   -0.256838
1995-05-31   -1.658305
1995-08-31    0.505885
1995-11-30   -1.108279
1996-02-29    0.139883
1996-05-31   -0.218695
1996-08-31   -0.700802
1996-11-30   -0.150189
1997-02-28   -0.334786
1997-05-31    0.981895
1997-08-31   -0.584299
1997-11-30   -0.474616
1998-02-28    0.373364
1998-05-31    1.024415
1998-08-31   -0.202812
1998-11-30   -0.194379
1999-02-28    0.998470
1999-05-31    0.369613
1999-08-31   -2.072222
1999-11-30   -0.240208
2000-02-29   -0.241925
2000-05-31   -1.925178
2000-08-31   -0.403698
Freq: Q-NOV, dtype: float64

In [140]:
a = aser.head()

In [141]:
a

1995-02-28   -0.256838
1995-05-31   -1.658305
1995-08-31    0.505885
1995-11-30   -1.108279
1996-02-29    0.139883
Freq: Q-NOV, dtype: float64

In [143]:
a.shift(1)
# It is shifting one axis if the value assigned is one unit

1995-02-28         NaN
1995-05-31   -0.256838
1995-08-31   -1.658305
1995-11-30    0.505885
1996-02-29   -1.108279
Freq: Q-NOV, dtype: float64

In [144]:
a.shift(2,freq = 'M')
#so if you a shift value 2 and frequency as a month then the month is jumping 2 units

1995-04-30   -0.256838
1995-07-31   -1.658305
1995-10-31    0.505885
1996-01-31   -1.108279
1996-04-30    0.139883
Freq: Q-OCT, dtype: float64

In [145]:
a.tshift(1)
#it is just aligning the 05-31 value to 08-31 it is kind of realigning

1995-05-31   -0.256838
1995-08-31   -1.658305
1995-11-30    0.505885
1996-02-29   -1.108279
1996-05-31    0.139883
Freq: Q-NOV, dtype: float64

In [146]:
#next it is about asfreq function which we discussed earlier
#its primary function is to change frequencies

In [154]:
#resampling is used to make one type of data frequency to another type
aser.resample('M')

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [155]:
# In resample there are label,loffset,fill_method and limit arguments

In [156]:
# Time span representation
# One of the timespan representation is a period
b = pd.Period('2017',freq = 'M')

In [157]:
b

Period('2017-01', 'M')

In [158]:
b+1

Period('2017-02', 'M')

In [159]:
b-12

Period('2016-01', 'M')

In [161]:
#periodindex and periodrange can be used to construct period index ranges
prd = pd.period_range('20170712','20180630',freq='M')

In [164]:
#period_index can also be directly created using period_index direct entry
prd_index = pd.PeriodIndex(['20170912','20171212','20180312'],freq='M')

In [165]:
prd_index

PeriodIndex(['2017-09', '2017-12', '2018-03'], dtype='period[M]', freq='M')

In [ ]:
# Passing strings and dates can be done using period_range and period_index

In [180]:
df = pd.DataFrame(np.random.randn(600,1),columns = ['A'],index = pd.period_range('2017-11-08 9:00',periods = 600,freq ='T'))

In [181]:
df

                         A
2017-11-08 09:00  0.901590
2017-11-08 09:01  0.067170
2017-11-08 09:02  0.559100
2017-11-08 09:03 -0.780518
2017-11-08 09:04 -0.339034
2017-11-08 09:05  1.488374
2017-11-08 09:06 -0.468657
2017-11-08 09:07  2.438355
2017-11-08 09:08 -1.095055
2017-11-08 09:09  0.384402
2017-11-08 09:10  0.086417
2017-11-08 09:11 -2.012693
2017-11-08 09:12  0.716949
2017-11-08 09:13 -0.336617
2017-11-08 09:14 -1.228362
2017-11-08 09:15 -0.008885
2017-11-08 09:16  2.613816
2017-11-08 09:17 -0.184586
2017-11-08 09:18  0.198828
2017-11-08 09:19  1.293214
2017-11-08 09:20 -0.307816
2017-11-08 09:21 -0.364802
2017-11-08 09:22 -0.550781
2017-11-08 09:23  0.198053
2017-11-08 09:24  0.185696
2017-11-08 09:25 -1.469444
2017-11-08 09:26 -0.978933
2017-11-08 09:27  0.743403
2017-11-08 09:28 -0.283933
2017-11-08 09:29 -0.415612
...                    ...
2017-11-08 18:30 -0.032111
2017-11-08 18:31  0.152125
2017-11-08 18:32 -0.551278
2017-11-08 18:33 -2.216965
2017-11-08 18:34 -0.165782
2017-11-08 18:35 -1.281074
2017-11-08 18:36 -1.128257
2017-11-08 18:37 -0.241713
2017-11-08 18:38  0.839453
2017-11-08 18:39 -0.059979
2017-11-08 18:40  0.710190
2017-11-08 18:41 -0.193843
2017-11-08 18:42  0.033645
2017-11-08 18:43  0.412689
2017-11-08 18:44 -0.854474
2017-11-08 18:45 -0.236527
2017-11-08 18:46 -0.892068
2017-11-08 18:47  0.675700
2017-11-08 18:48 -0.609386
2017-11-08 18:49 -0.535867
2017-11-08 18:50  0.574534
2017-11-08 18:51 -1.539054
2017-11-08 18:52  0.820928
2017-11-08 18:53  0.339472
2017-11-08 18:54  1.793737
2017-11-08 18:55 -1.512353
2017-11-08 18:56  1.364712
2017-11-08 18:57 -0.109639
2017-11-08 18:58  0.022447
2017-11-08 18:59  0.166923

[600 rows x 1 columns]

In [183]:
#to get more understanding meddle with code
df['2017-11-08 10H':'2017-11-08 12H']

                         A
2017-11-08 10:00 -1.329161
2017-11-08 10:01  0.128836
2017-11-08 10:02  0.796351
2017-11-08 10:03  0.423153
2017-11-08 10:04  1.818158
2017-11-08 10:05 -0.272776
2017-11-08 10:06 -0.035121
2017-11-08 10:07  0.058886
2017-11-08 10:08  0.816243
2017-11-08 10:09  0.877519
2017-11-08 10:10 -1.261810
2017-11-08 10:11  0.805965
2017-11-08 10:12  0.642020
2017-11-08 10:13 -0.950373
2017-11-08 10:14 -0.872516
2017-11-08 10:15 -1.205718
2017-11-08 10:16  1.518406
2017-11-08 10:17 -0.902685
2017-11-08 10:18  0.342713
2017-11-08 10:19 -0.066053
2017-11-08 10:20 -1.973990
2017-11-08 10:21  1.230527
2017-11-08 10:22  1.324438
2017-11-08 10:23  1.578963
2017-11-08 10:24 -0.287479
2017-11-08 10:25  0.784516
2017-11-08 10:26  1.067690
2017-11-08 10:27 -1.156169
2017-11-08 10:28  0.140244
2017-11-08 10:29  0.810964
...                    ...
2017-11-08 12:30 -0.571199
2017-11-08 12:31  0.423097
2017-11-08 12:32 -0.949608
2017-11-08 12:33  0.115088
2017-11-08 12:34  0.713462
2017-11-08 12:35 -0.885629
2017-11-08 12:36  2.339889
2017-11-08 12:37 -0.828652
2017-11-08 12:38  1.426510
2017-11-08 12:39 -0.825527
2017-11-08 12:40 -0.841739
2017-11-08 12:41  1.135631
2017-11-08 12:42  0.460932
2017-11-08 12:43 -1.352989
2017-11-08 12:44 -0.957870
2017-11-08 12:45 -0.741891
2017-11-08 12:46  0.068847
2017-11-08 12:47 -0.384747
2017-11-08 12:48  0.733812
2017-11-08 12:49  0.468327
2017-11-08 12:50  0.564618
2017-11-08 12:51  0.052128
2017-11-08 12:52  0.684964
2017-11-08 12:53 -1.410956
2017-11-08 12:54  0.841285
2017-11-08 12:55 -0.576390
2017-11-08 12:56  1.021969
2017-11-08 12:57  0.169900
2017-11-08 12:58 -0.432568
2017-11-08 12:59  0.291946

[180 rows x 1 columns]

In [184]:
# Converting to_period() to to_timestamp()

In [185]:
prd

PeriodIndex(['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06'],
            dtype='period[M]', freq='M')

In [188]:
prdseries = pd.Series(np.random.randn(len(prd)),index = prd)

In [190]:
prdseries.index

PeriodIndex(['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06'],
            dtype='period[M]', freq='M')

In [193]:
prdseries.index = (prd.asfreq('M','s')+1).asfreq('T','s')+9

In [194]:
prdseries.index

PeriodIndex(['2017-08-01 00:09', '2017-09-01 00:09', '2017-10-01 00:09',
             '2017-11-01 00:09', '2017-12-01 00:09', '2018-01-01 00:09',
             '2018-02-01 00:09', '2018-03-01 00:09', '2018-04-01 00:09',
             '2018-05-01 00:09', '2018-06-01 00:09', '2018-07-01 00:09'],
            dtype='period[T]', freq='T')

In [195]:
from pytz import common_timezones

In [197]:
common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [206]:
# Don't forget this import pytz it is not specified in pandas document
import pytz
tz = pytz.timezone('Asia/Kolkata')
period = pd.date_range('20170712',periods= 18,freq = 'M',tz = tz)

In [207]:
period

DatetimeIndex(['2017-07-31 00:00:00+05:30', '2017-08-31 00:00:00+05:30',
               '2017-09-30 00:00:00+05:30', '2017-10-31 00:00:00+05:30',
               '2017-11-30 00:00:00+05:30', '2017-12-31 00:00:00+05:30',
               '2018-01-31 00:00:00+05:30', '2018-02-28 00:00:00+05:30',
               '2018-03-31 00:00:00+05:30', '2018-04-30 00:00:00+05:30',
               '2018-05-31 00:00:00+05:30', '2018-06-30 00:00:00+05:30',
               '2018-07-31 00:00:00+05:30', '2018-08-31 00:00:00+05:30',
               '2018-09-30 00:00:00+05:30', '2018-10-31 00:00:00+05:30',
               '2018-11-30 00:00:00+05:30', '2018-12-31 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='M')

In [209]:
#using tz_localise will give an error saying that the data is already tz aware, that is because we already imported pytz
tz_utc = period.tz_convert('US/Eastern')

In [210]:
#you can add two time zones.it is pretty much simple.refer pg no.461

In [213]:
a.tz_localize('US/Eastern',infer_dst=True)

C:\Users\user\anaconda_new\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the infer_dst=True keyword is deprecated, use ambiguous='infer' instead
  """Entry point for launching an IPython kernel.

1995-02-28 00:00:00-05:00   -0.256838
1995-05-31 00:00:00-04:00   -1.658305
1995-08-31 00:00:00-04:00    0.505885
1995-11-30 00:00:00-05:00   -1.108279
1996-02-29 00:00:00-05:00    0.139883
Freq: Q-NOV, dtype: float64

In [218]:
# Time deltas are the strict difference between date,day,year.month etc
from datetime import datetime,timedelta
s = pd.Series(pd.date_range('20170812',periods = 3))
td = pd.Series([timedelta(days=i) for i in range(3)])

In [221]:
dataframe = pd.DataFrame({'a' : s,'b' : td})

In [222]:
dataframe

           a      b
0 2017-08-12 0 days
1 2017-08-13 1 days
2 2017-08-14 2 days

In [227]:
sk = s - datetime(2017,5,2,3)

In [226]:
s+timedelta(minutes=5)

0   2017-08-12 00:05:00
1   2017-08-13 00:05:00
2   2017-08-14 00:05:00
dtype: datetime64[ns]

In [ ]:
#series of NaT and other operations are supported on timedelta series

In [228]:
sk.min()

Timedelta('101 days 21:00:00')

In [229]:
sk.max()

Timedelta('103 days 21:00:00')

In [230]:
sk.idxmin()

0

In [231]:
sk.idxmax()

2

In [ ]:
# Rest all the operations like fillna dropna,idxmax,mean(),quantile can be performed on a timedelta

In [233]:
# Timedelta and conversions
anil = pd.to_timedelta('20121212')

In [234]:
anil

Timedelta('0 days 00:00:00.020121')

In [245]:
anila = pd.to_timedelta('1220122912us')
#us means that it takes the given number in the form of nano seconds

In [246]:
anila

Timedelta('0 days 00:20:20.122912')

In [243]:
anilan = pd.to_timedelta('1days 12:38:1721')
#to get a specified value of data you have to mention it specifically

In [244]:
anilan

Timedelta('1 days 13:06:41')

In [253]:
a = pd.to_timedelta(123 , unit ='D')
#makesure you dont pass a string

In [254]:
a

Timedelta('123 days 00:00:00')

In [261]:
#you can convert a timedelta to a series by diviing it with another timedelta
td = (pd.Series(pd.date_range('20170101',periods=4)))-(pd.Series(pd.date_range('20160101',periods=4)))

In [260]:
td

0   365 days
1   365 days
2   365 days
3   365 days
dtype: timedelta64[ns]

In [262]:
td.astype('timedelta64[M]')
# by applying astype of timedelta in the format of month we could get the difference in timedeltas as monthsb

0    12.0
1    12.0
2    12.0
3    12.0
dtype: float64

In [ ]:
# You can multiply a time delta with a series
#and various math operations can also be performed